rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Kullanıcıların kendi veri koleksiyonlarına erişimini sağlar
    match /users/{userId}/{documents=**} {
      // Bir kullanıcının yalnızca kendi belgelerini okumasına ve yazmasına izin verilir.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
